@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #111729;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.azulMedioText{
  color: #3662E3;
}
.azulMedioBg{
  background-color: #3662E3;
}
.azulMedioBorder{
  border-color: #3662E3;
}
.azulClaroBg{
  background-color: #4e80ee33;
}